<!doctype html>
<html>
  <head>
    <!--JQuery-->
    <script type="text/javascript" src="{{url_for ('static',filename='js/lib/jquery-3.2.1.min.js')}}"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.0-beta.33/vega.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.0-beta.4/vega-lite.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-beta.17/vega-embed.js"></script>



  </head>

  <body>
    <div id="app">

    <vega vg-style='lineChart'></vega>

    </div>
  </body >

    <!--Vuejs-->
    <script type="text/javascript" src="{{url_for ('static',filename='js/lib/vue.js')}}"></script>

    <!--vega spec creator-->
    <script type="text/javascript" src="{{url_for ('static',filename='js/createSpec.js')}}"></script>

    <!--app.js-->
     <script type="text/javascript" src="{{url_for ('static',filename='js/app.js')}}"></script>


</html>